
.overlay {
    position: fixed;
    background: rgba(49, 49, 49, 0.041);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal{
    display: block !important;
}

.img-width{
    width: -webkit-fill-available;
}
