/* you can import font in global css file */
/*Import Google Font: Kaushan Script */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.header {
    display: flex;
    background-color: rgba(20, 20, 20, 0.856);
    border-bottom: solid 1px rgba(245, 245, 245, 0.356) !important;
}

.logo-container {
    padding-left: 15%;
  }
  
.options {
    height: 100%;
    display: inline-flex;
    margin-left: 60%;
    align-items: center;
    justify-content: flex-end;
  }

.option {
    padding: 10px 15px;
    margin-top: 10px;
  }

  
a {
    text-decoration: none !important;
    color: rgb(185, 185, 185) !important;
    font-size: large;
  }

  .title{
    font-family: 'Kaushan Script', cursive;
    font-size: xx-large;
    margin-top: 28px;
    float: left;
    width: 100%;
    color:rgb(185, 185, 185);
  }

.font-cart-icon{
  font-size: xx-large;
  color: rgb(209, 87, 87);
  float: right;
  margin-right: 20%;
}


@media only screen and (max-width: 1160px) {
 
  .options {
    margin-left: 0%;
    align-items: center;
  }

  .font-cart-icon{
    float: right;
    margin-right: 15%;
   }

}


@media only screen and (max-width: 580px) {
 
  .mobile-title{
    display: none;
  }

  .options {
    margin-left: 0%;
    align-items: center;
  }

  .option {
    padding: 2px 5px;
    margin-top: 10px;
  }

  .font-cart-icon{
   float: right;
   margin-right: 5%;
  }

}