  
  h1 {
    font-family: 'Bigelow Rules';
    font-size: 72px;
    color: aqua;
  }

  @media only screen and (max-width: 768px) {

  .align-items-class{
    justify-content: center;
    align-items: center;
  }
}